@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-F9F6E8 {
  background: #f4f4f6 !important;
}

.bg-xoan-cham {
  background-image: url("https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?w=2000") !important;
}

.line-text {
  padding: 0 10px;
}
